/* Generalidales*/
.imgSlide {
	width: 100%;
}

* {
	box-sizing: border-box;
}

img {
	vertical-align: middle;
}

/* Position del image container (se necesita el position relative para que las flechas puedan tener position absolute) */
.container {
	position: relative;
}

/* esconde las imagenes que no se estan mostrando */
.mySlides {
	display: none;
}

/* puntero para el hover de las miniaturas */
.cursor {
	cursor: pointer;
}

/* miniaturas */
.min {
	width:100%;
}

/* controles prev/next */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

	/* posicion de los controles */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

	/* controles en hover */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* contador de slides */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* contenedor para el texto */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

/* fila */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* columns */
.column {
	float: left;
	width: 16.66%;
}

/* miniatura en transparencia */
.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}