.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background: #ccc;
}

.progress-container {
  width: 100%;
  height: 30px;
  background: #ccc;
}

.progress-bar {
  height: 30px;
  background: red;
  width: 0%;
}

.footer-text {
  text-align: right;
  color: red;
}

.footer-text2 {
  text-align: right;
  vertical-align: middle;
  color: red;
  float: right;
}
