* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /*esto es importante para que no quede un margen alrededor de la imagen del header*/
}

.header-ds {
  padding: 80px;
  text-align: center;
  background: #ccc;
  color: white;
}

.header-ds h1{
  font-size: 40px;
}


.navbar-ds {
  overflow: hidden;
  background-color: #333;
}

.navbar-ds a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar-ds a:hover {
  background-color: #ddd;
  color: black;
}


.row-ds {
  display: flex;
  flex-wrap: wrap;
}

.side-ds {
  flex: 30%;
  background-color: #fff;
  padding: 20px;
}

.main-ds {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg-ds {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.footer-ds {
  padding: 20px;
  text-align: center;
  background-color: #ccc;
}